<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="show_stream_type" type="bool" label="Является ли формат транскодирования выбранным перед воспроизведением видео?" default="true"/>
    <setting id="stream_type" type="labelenum" label="Формат перекодирования по умолчанию" values="M3U8_AUTO_720|NONE" default="NONE"/>
</settings>
